In [1]:
# Average departure delay of each airline per airport

# AIRLINE
# ORIGIN_AIRPORT
# total number of flight (int)
# operated rate (not cancelled %)
# delay rate (is departure delay %) --> exclude cancelled flight
# average delay minutes (departure delay, float) --> exclude non-delay flights

In [2]:
# total number of flight (int)
# > groupby, count flight_number

# operated rate (not cancelled %)
# > number of flights not cancelled / total number of flight
# > sum of (operated = 1, cancelled = 0)?

# delay rate (is departure delay %) --> exclude cancelled flight
# > number of flights delayed / number of flights operated

# average delay minutes (departure delay, float) --> exclude non-delay flights
# > groupby, mean?
# > groupby, sum of delay / number of flights delayed?
# need to create new columns to do the sum / count?

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_airports = pd.read_csv('airports.csv')
df_airlines = pd.read_csv('airlines.csv')
df_flights = pd.read_csv('flights.csv')

/var/folders/rz/lqt_k1wx511d79yfsc6814700000gn/T/ipykernel_30724/4208662450.py:3: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights = pd.read_csv('flights.csv')

In [ ]:
df_flights['airport_info'] = df_flights['AIRLINE'] + df_flights['ORIGIN_AIRPORT'].astype(str)

In [6]:
df_flights['is_operated'] = df_flights['CANCELLED'].apply(lambda x : 1 if x ==0 else 0)

In [7]:
ttl_flights = df_flights.shape[0]
ttl_flights

5819079

In [8]:
ttl_operated_flights = df_flights['is_operated'].sum()
ttl_operated_flights

5729195

In [9]:
operated_rate = ttl_operated_flights /ttl_flights
operated_rate

0.9845535693878705

In [25]:
df_flights['delay_flights'] = df_flights['DEPARTURE_DELAY'].apply(lambda x : 1 if x > 0 else 0)
delayed_flights = df_flights['delay_flights'].sum()
delayed_flights

2125618

In [11]:
delay_rate = delayed_flights / ttl_operated_flights
delay_rate

0.3710151251615628

In [35]:
average_delay = df_flights.groupby ('delay_flights').agg({'DEPARTURE_DELAY':'mean'})
average_delay

               DEPARTURE_DELAY
delay_flights
0                    -4.361038
1                    32.672865

In [ ]:
# average delay minutes (departure delay, float) --> exclude non-delay flights
# > groupby, mean?
# > groupby, sum of delay / number of flights delayed?
# need to create new columns to do the sum / count?

In [28]:
average = df_flights.groupby('delay_flights').agg({'delay_flights':'count',
                                                'DEPARTURE_DELAY':'mean'  })
average

               delay_flights  DEPARTURE_DELAY
delay_flights
0                    3693461        -4.361038
1                    2125618        32.672865

In [29]:
average_delay_flights= df_flights.groupby('airport_info').agg({'delay_flights':'count',
                                                'DEPARTURE_DELAY':'mean'  })
average_delay_flights

              delay_flights  DEPARTURE_DELAY
airport_info
AA10140                 185         9.890110
AA10257                  85         1.564706
AA10299                  34        -0.794118
AA10397                 975         3.086867
AA10423                 834         6.285535
...                     ...              ...
WNSNA                 17197         8.297608
WNSTL                 27753        10.886391
WNTPA                 25888        10.389136
WNTUL                  4098         9.137414
WNTUS                  4201         7.430416

[2386 rows x 2 columns]